# Core functionality - changes here should be rare!
/src/app.py                   @DASARADHASAI
/src/backend/database.py      @DASARADHASAI
/src/backend/routers/auth.py  @DASARADHASAI

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DASARADHASAI
